*{
	margin: 0px;
	padding: 0;
}
body{
	font-size: 16px;
	color: #673929;
}
#container{
	width: 900px;
	margin: 0 auto; 
}
#header{
	height: 220px;
	margin-bottom: 5px;
	position: relative;
}
#icon-list{
	position: absolute;
	top: 170px;
	right: 30px;
	width: 130px;
	height: 30px;
	/*font-size: 0px;*/

}
#nav{
	height: 30px;
	line-height: 30px;
	margin: 5px;
	background-color: #69c;
	font: 18px/30px;
	color: #fff;
	letter-spacing: 2px;
	text-align: center;
}
#nav a{
	text-decoration: none;
}
a:link{
	color: #fff;
}
a:visited{
	color: #fff;
}
a:hover{
	color: yellow;
}
a:active{
	color: yellow;
}
/*#main{
	background-color: #000;
	height: 2050px;
}*/
#aside{
	float: left;
	width: 300px;
	height: 650px;
	background-color: #6cf;
	text-align: center;
	font-size:14px;
}
#imglist{
	width: 130px;
	margin: 0 auto;
}
.pol{
	width: 85px;
	padding: 10px;
	background-color: #eee;
	border: 1px solid #bfbfbf;
	box-shadow: 2px 2px 4px #aaa;
}
#imglist img{
	height: 95px;
	width: 85px;
	margin:0 auto; 
}
.rotate-left{
	-webkit-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	transform: rotate(7deg);
}
.rotate-right{
	-webkit-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	transform: rotate(-7deg);
}
#content{
	float: right;
	width: 595px;
	/*height: 2050px;*/
	margin-bottom: 5px;
	background-color: #A8F3F4;
}
.subcon{
	width: 570px;
	margin:10px auto;
	clear: both;
}
.subcon img{
	margin: 5px;
	padding: 5px;
	float: left;
	border: 1px dashed #0000;
}
.subcon .subtext{
	width: 60%;
	float: left;
	margin: 5px;
}
.subcon h2{
	margin: 5px;
}
.subcon p{
	font:16px/2em;
}
#footer{
	height: 60px;
	line-height: 60px;
	background-color: #6cf;
	clear: both;
	margin-top: 5px;
	text-align: center;
}
#l-fix img{
	width: 100px;
	height: 100px;
	position: fixed;
	top: 100px;
	left: 5px;
}